<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoHandelDemo copy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VideoHandelDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2B279B71F3D9CC80077BA00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B279D01F3D9CC90077BA00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B279DB1F3D9CC90077BA00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B279EE1F4141E40077BA00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
